model_config_list: {
  config: {
    name:  "veggie_cnn_31x31",
    base_path:  "/img_classifier/veggie_cnn_31x31",
    model_platform: "tensorflow",
    model_version_policy: {
        all: {}
    }
  },
  config: {
    name:  "veggie_cnn_128x128",
    base_path:  "/img_classifier/veggie_cnn_128x128",
    model_platform: "tensorflow",
    model_version_policy: {
        all: {}
    }
  }
}