<!--Page that allows users to send a request to reset the password -->

<!-- Inherits from layout.html -->
{% extends "layout.html" %}
<!-- The block content replace the one encapsulated in layout.html -->
{% block content %}
<div class="container">
    <div class="row">
        <div class = 'col-md-6 offset-md-3 bg-light py-5 px-5'>
            <div class="text-center">
                <h2>{{title}}</h2>
            </div>
            <form name="frmRequestForPasswordReset" method="post" novalidate>
                {{form.hidden_tag()}}
                <div class="form-group">
                    {{form.email.label}}<br>
                    {{form.email(class='form-control')}}
                    {% for error in form.email.errors %}
                    <span class="error-message">{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="form-group pt-2 text-center">
                    {{form.submitField(class='btn btn-outline-success btn-sm form-control w-50')}}
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}